body {
  background-color: rgba(198, 248, 149, 0.932);
}

.qbox,
.abox {
  border: solid black;
  width: 480px;
  height: 270px;
  margin: 10px auto;
}

.puzzle {
  display: flex;
  justify-content: space-around;
}
h1,
.text,
p {
  text-align: center;
}

#btn {
  display: block;
  margin: 10px auto;
}
